<a href="https://colab.research.google.com/github/Gobikha/MENTORS_TASKS-DW26/blob/main/DW26Mentors_Task01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MENTORS TASKS 01:                                    HERE ARE FEW TASKS ON MONGO DB  THAT WHERE GIVEN BY OUR MENTOR DR.SHABARINATH SIR.**

01).To find the Movies in between 1950-1970 and also 2000-2015 in the given sample data.

02).Filter for genres such as Comedy, Horror and Fantasy

03).Tomatoes rating>3

04).imdb rating>7

05).Award>=1

06).Display only Title, music director name, Director names, cast and imdb rating, tomatoes rating

In order to find the movies in the list given above,

first we have to import the required libraries and connect the mongo db to python.

In [ ]:
from pymongo import MongoClient

In [ ]:
gobi=MongoClient("mongodb://gobziKP:abcdefgh@ac-1a35mea-shard-00-00.q7yujhn.mongodb.net:27017,ac-1a35mea-shard-00-01.q7yujhn.mongodb.net:27017,ac-1a35mea-shard-00-02.q7yujhn.mongodb.net:27017/?ssl=true&replicaSet=atlas-5jydwk-shard-0&authSource=admin&retryWrites=true&w=majority")
# here we are connecting the mongo db shell driver with the python environment

In [ ]:
G1=gobi["sample_mflix"]
# in order to access the data in the mongo db we have to use an object to work with python
# here sample_mflix refers the database name

In [ ]:
O1=G1["movies"] 
# here movies represents the collection name

In [ ]:
data=[]
for i in O1.find({'$or':[{'$and':[{'year':{'$gte':1950,'$lte':1970}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},
                                       {'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]},
                              {'$and':[{'year':{'$gte':2000,'$lte':2015}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},{'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]}]},
                      {'_id':0,'title':1,' music director name':1,'directors':1,'cast':1,'imdb.rating':1,'tomatoes.viewer.rating':1,'year':1}):
     data.append(i)

To view the movies from the given years we have to import the pandas library

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(data)

,cast,title,directors,year,imdb,tomatoes
0,"[Ilene Woods, Eleanor Audley, Verna Felton, Cl...",Cinderella,"[Clyde Geronimi, Wilfred Jackson, Hamilton Luske]",1950,{'rating': 7.3},{'viewer': {'rating': 3.5}}
1,"[Fernandel, Gino Cervi, Vera Talchi, Franco In...",The Little World of Don Camillo,[Julien Duvivier],1952,{'rating': 7.8},{'viewer': {'rating': 3.9}}
2,"[Renato Rascel, Yvonne Sanson, Giulio Stival, ...",The Overcoat,[Alberto Lattuada],1952,{'rating': 7.4},{'viewer': {'rating': 3.6}}
3,"[Gene Tierney, John Lund, Miriam Hopkins, Thel...",The Mating Season,[Mitchell Leisen],1951,{'rating': 7.6},{'viewer': {'rating': 4.5}}
4,"[Anna Magnani, Odoardo Spadaro, Nada Fiorelli,...",The Golden Coach,[Jean Renoir],1952,{'rating': 7.3},{'viewer': {'rating': 3.8}}
...,...,...,...,...,...,...
983,[Matt Smith],My Last Year with the Nuns,[Bret Fetzer],2014,{'rating': 7.2},{'viewer': {'rating': 5.0}}
984,"[Seija Airamo, Erkki Broman, Pirjo Mutanen, Ma...",Garden Lovers,[Virpi Suutari],2014,{'rating': 7.3},{'viewer': {'rating': 3.8}}
985,"[Ze'ev Revach, Levana Finkelstein, Aliza Rosen...",The Farewell Party,"[Tal Granit, Sharon Maymon]",2014,{'rating': 7.2},{'viewer': {'rating': 3.9}}
986,"[Asa Butterfield, Rafe Spall, Sally Hawkins, E...",A Brilliant Young Mind,[Morgan Matthews],2014,{'rating': 7.2},{'viewer': {'rating': 4.0}}
987,"[Maz Jobrani, John Heard, Deanna Russo, Marsha...",Jimmy Vestvood: Amerikan Hero,[Jonathan Kesselman],2014,{'rating': 8.2},{'viewer': {'rating': 3.5}}

SO THUS THE MOVIES LIST HAS BEEN CREATED BY QUERING IN PYTHON.